<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		
		<meta name='yandex-verification' content='770c3b4c8e1a9509' />
		<meta name="google-site-verification" content="DOr9vUGUx7V3NSD2l3UKsBXnsmvdvnClh4yVcExU_rM" />
		
		<title>HabrJobs List</title>
		<link rel="stylesheet" href="/stylesheets/application.css" />
		
		<script type="text/javascript"> 
		/*<![CDATA[*/
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-2463736-23']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
			})();
		/*]]>*/
		</script>
	</head>

	<body>
		<div class="header">
			<h1>HabrJobs</h1>
			<div class="description">
				Это небольшой веб-сервис, который регулярно скачивает свежие вакансии, публикуемые на сайте Хабрахабр и предоставляет RSS-ленту для тех, кто хочет быть в курсе последних вакансий в Хабра-сфере.
			</div>
		</div>
		
		<div class="rss_link">
			<a href="http://feeds.feedburner.com/habrjobs" title="Subscribe to our RSS feed to get the most fresh vacancies from Habrahabr.ru">
				<img src="/images/hatrss_white.png" width="64" height="64"/>
			</a>
		</div>
		
		<div class="clear header_bottom"></div>
		
		<div class="search" style="float:right;">
			Найти по должности: <form action="/search" method="post"><input type="text" name="word" value="<%= params[:word] %>"></form>
		</div>
		
		<div class="top_menu">
			Последние вакансии:
			<a class="btn" href="/10"><span><span>10</span></span></a>
			<a class="btn" href="/25"><span><span>25</span></span></a>
			<a class="btn" href="/70"><span><span>70</span></span></a>
			<a class="btn" href="/all"><span><span>Все</span></span></a>
			Показать зарплаты: <a class="btn" href="/salary/topfirst"><span><span>по убыванию</span></span></a>
		</div>
		
		<div class="content">
			<%= yield %>
		</div>
		
		<div class="footer">
			<img src="/images/sinatra_logo.gif" alt="Powered by Sinatra" height="24"/>
			<img src="/images/mongo_powered.png" alt="Powered by MongoDB" height="24"/>
		</div>
	</body>
</html>
