.center {
	text-align : center;
}

.container {
	font-family: sans-serif;
	font-size: 12px;
}

h1,h2,h3,h4,h5 {
	font-family : "Droid Serif", "Georgia", serif;
}

.content {
	white-space : nowrap;
	
	.head {
		font-weight : bold;
	}
	
	div {
		overflow      : hidden;
		text-overflow : ellipsis;
		padding       : 1px 0;
	}
	
	.even {
		background-color : #eee;
	}
}

.description {
	color : #777;
}

#rss-link {
	padding-top  : 4em;
	padding-left : 1.5em;
}

.search-form, .footer {
	text-align : right;
}

@import 'custombuttons.less';